.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 200px 0;

  &__info {
    width: 35%;
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    &__title {
      display: flex;
      align-items: flex-end;

      p:first-child {
        margin-right: 5px;
        font-weight: 500;
        font-size: 96px;
        line-height: 96%;
      }

      p:last-child {
        font-weight: 500;
        font-size: 48px;
      }
    }

    &__text {
      margin-top: 20px;
      font-weight: 600;
      font-size: 19px;
      color: #333333;
    }

    &__skills {
      display: flex;
      position: relative;
      padding: 20px 0;
      margin-left: 20px;
      align-items: center;
      width: 400px;

      img {
        position: absolute;
      }

      .skillsList {
        z-index: 1;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
      }

      .skillsItem {
        display: flex;
        flex-flow: column-reverse;
        justify-content: space-between;
        align-items: center;

        p {
          width: 60px;
          text-align: center;
          margin-top: 5px;
          font-weight: 600;
          font-size: 16px;
        }

        span {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #333333;
        }
      }
    }

    &__link {
      width: fit-content;

      a {
        display: flex;
        align-items: center;

        p {
          font-weight: 500;
          font-size: 24px;
          margin-right: 15px;
          border-bottom: 1px solid black;
        }
      }

      .disabled {
        pointer-events: none;
      }
    }
  }
}

.project-reversed {
  flex-flow: row-reverse;
}

@media (max-width: 1350px) {
  .project {

    &__info {
      width: 40%;
    }

    &__img {
      width: 700px;
    }
  }
}

@media (max-width: 1280px) {
  .project {

    &__img {
      width: 600px;
    }

    .info {
      &__title {

        p:first-child {
          font-size: 86px;
        }

        p:last-child {
          font-size: 38px;
        }
      }

    }
  }
}

@media (max-width: 1110px) {
  .project {

    &__img {
      width: 500px;
    }

    .info {
      &__title {

        p:first-child {
          font-size: 76px;
        }

        p:last-child {
          font-size: 34px;
        }
      }

      &__text {
        font-size: 17px;
      }

      &__skills {
        margin-left: 10px;
        width: 300px;

        .skillsItem {

          p {
            font-size: 15px;
          }

          span {
            width: 23px;
            height: 23px;
          }
        }
      }

      &__link {
        a {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .project {
    flex-flow: column-reverse;
    justify-content: center;

    &__info {
      width: 100%;
    }

    &__img {
      width: 700px;
      height: 400px;
    }

    .info {
      &__title {
        justify-content: center;

        p:first-child {
          font-size: 96px;
          text-align: center;
        }

        p:last-child {
          font-size: 48px;
        }
      }

      &__text {
        font-size: 19px;
        text-align: center;
      }

      &__skills {
        margin: 0 auto;
        width: 400px;

        img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        .skillsItem {

          p {
            font-size: 16px;
          }

          span {
            width: 25px;
            height: 25px;
          }
        }
      }

      &__link {
        margin: 0 auto;

        a {
          p {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .project {

    &__img {
      width: 500px;
      height: 277px;
    }
  }
}

@media (max-width: 560px) {
  .project {
    margin-bottom: 100px;
    &__img {
      width: 400px;
      height: 222px;
    }

    .info {
      &__title {

        p:first-child {
          font-size: 76px;
        }

        p:last-child {
          font-size: 34px;
        }
      }

      &__text {
        font-size: 16px;
      }

      &__skills {
        width: 300px;

        .skillsItem {

          p {
            font-size: 15px;
          }

          span {
            width: 23px;
            height: 23px;
          }
        }
      }

      &__link {

        a {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .project {

    &__img {
      width: 300px;
      height: 167px;
    }

    .info {
      &__title {

        p:first-child {
          font-size: 66px;
        }

        p:last-child {
          font-size: 28px;
        }
      }

      &__text {
        font-size: 15px;
      }

      &__skills {

        .skillsItem {

          p {
            font-size: 14px;
          }

          span {
            width: 22px;
            height: 22px;
          }
        }
      }

      &__link {

        a {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}