a {
  text-decoration: none;
  color: #000;
}

.navItem {
  width: 170px;
  margin: 0 34px 0 20px;
  border-top: 2px solid #000;

  &__titleGroup {
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 700;
      font-size: 20px;
      line-height: 100.94%;
      margin: 14px 0;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100.94%;
    letter-spacing: 0.01em;
  }
}