@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

.container{
  width: 92vw;
  margin: 0 auto;
}

.spheres {
  position: absolute;
  width: 800px;
  height: 700px;
  left: calc(313px + 5%);
  top: calc(215px + 30%);
  background-image: url("../../assets/Spheres.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
  }

  &__title {
    z-index: 2;

    h1 {
      font-family: 'Montserrat SemiBold', sans-serif;
      font-size: 64px;
      line-height: 87px;
      color: #000000;

      span {
        font-family: 'Montserrat SemiBold', sans-serif;
      }

      &:nth-child(1){
        span{
          color: transparent;
          -webkit-text-stroke: 2px black;
          letter-spacing: 0.145em;
        }
      }

      &:nth-child(2) {
        margin-left: 50px;
      }

      &:nth-child(3) {
        margin-left: 50px;

        span{
          color: transparent;
          -webkit-text-stroke: 1px black;
        }
      }
    }
  }

  &__btns {
    display: flex;
    margin: 50px 0 0 55px;
    z-index: 2;

    button {
      margin-right: 50px;
    }

    a {
      display: flex;
      align-items: center;

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 100.94%;
        border-bottom: 1px solid #000;
        margin-right: 10px;
      }

      img {
        width: 15px;
        height: 16.5px;
      }
    }
  }

  &__logo {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:nth-child(1) {
        animation: bigCircleRotation 6s linear infinite;
        width: calc(438px - 5%);
        height: calc(430px - 5%);
      }

      &:nth-child(2) {
        animation: smallCircleRotation 3s linear infinite;
        width: calc(362px - 5%);
        height: calc(355px - 5%);
      }
    }

    p {
      position: absolute;
      transform: translate(-50%, -50%);
      font-family: 'Mallanna', sans-serif;
      font-weight: 400;
      font-size: 128px;
      line-height: 237px;
      color: #000000;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:nth-child(3) {
        top: calc(50% - 25px);
        left: calc(50% - 25px);
      }

      &:nth-child(4) {
        top: calc(50% + 25px);
        left: calc(50% + 25px);
      }
    }
  }
}

.otherRoute {
  position: relative;
  float: right;
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  &__spheres {
    width: calc(228px - 5%);
    height: calc(175px - 5%);
    position: absolute;
    right: 80px;
    top: -10px;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: 'Mallanna', sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 52px;
      margin-right: 10px;
    }

    img {
      height: 14px;
    }
  }
}

@keyframes bigCircleRotation {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes smallCircleRotation {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}