.container {
  width: 92vw;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  h1 {
    margin-top: 50px;
    font-weight: 600;
    font-size: 32px;
    border-bottom: 2px solid black;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .container{
    h1{
      font-size: 28px;
    }
  }
}