.navbar {
  display: flex;
  justify-content: space-between;

  &__name {
    margin-top: 25px;

    p {
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__group {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    width: 800px;
  }
}